.env

news/__pycache__
news/utils/__pycache__
04-trends/__pycache__
06-knowledge-graph/__pycache__
06-knowledge-graph/lib
08-whiteboarding/mcp_server/__pycache__
08-whiteboarding/__pycache__
09-google-sheets/__pycache__
11-ui/__pycache__

.DS_Store

02-human-alignment/search.py
02-human-alignment/search2.py

07-project-management/combined.py
07-project-management/whatsapp-mcp

09-google-sheets/*.png

mcp-servers/google-sheets-mcp/dist/gcp-oauth.keys.json

13-energy-ui/smolagents-ref
13-energy-ui/__pycache__

15-whatsapp-ui/__pycache__
18-proof-of-work/smolagents-ref
18-proof-of-work/__pycache__
18-proof-of-work/02/__pycache__

22-img-2-figma/__pycache__

.gradio
.devcontainer

24-model-recommender/__pycache__